* {
    font-family: "Red Hat Display", serif;
    box-sizing: border-box;
}

:root {
    --primary-pale-blue: hsl(225, 100%, 94%);
    --primary-bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--primary-pale-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: var(--dark-blue);
    font-weight: 900;
}

p,
small {
    font-size: 16px;
    color: var(--desaturated-blue);
}

button {
    cursor: pointer;
}

span {
    font-weight: 900;
}

.summary_container {
    background-color: #fff;
    width: 350px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary_container img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.summary_details {
    text-align: center;
}

.price_section {
    width: 300px;
    padding: 20px 10px;
    border-radius: 15px;
    margin: auto;
    background-color: var(--very-pale-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price_section_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_section img {
    width: 50px;
    height: 50px;
}

.price_section button {
    background-color: transparent;
    outline: none;
    border: transparent;
    color: var(--primary-bright-blue);
    font-weight: 700;
    text-decoration: underline;
}

.anual_plan {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn {
    width: 80%;
    outline: none;
    border: none;
}

.payment {
    background-color: var(--primary-bright-blue);
    color: #fff;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    font-weight: 700;
}

.cancel {
    margin-bottom: 20px;
    font-weight: 900;
    background: transparent;
}

.attribution {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
